* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-size: 1.25rem;
    line-height: 1.6;
    margin: 0;
    padding: 0 ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 15px;
}

.site-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.primary-navigation ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.primary-navigation a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.white-small {
    color: #e5e7eb;
    font-size: 18px;
    line-height: 1.1;
}

img {
    display: block;
    max-inline-size: 100%;
}

.button-no-border {
    background-color: #3882f6;
    padding: 9px 20px;
    border: none;
    border-radius: 12px;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
}

.dark-blue {
    background-color: #1f2937;
}

.white-bold-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.wrapper {
    max-inline-size: 1400px;
    margin-inline: auto;
}

.two-column-layout {
    display: grid;
    gap: 75px;
    line-height: 1.2;
    padding-block: 80px;
   
    @media (width > 720px) {
        grid-template-columns: 1fr 1fr;
    }
}

.four-column-layout {
    display: grid;
    gap: 25px;
    margin-block-end: 80px;

    @media (width > 720px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.four-column-layout img {
    border-radius: 12px;
    border: 4px #3882f6 solid;
}

.info-title {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.four-column-layout p {
    text-align: center;
    font-size: 18px;
}

.quote {
    background-color: #e5e7eb;
    padding-block: 50px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.customer-name {
    font-size: 27px;
    font-weight: 900;
    text-align: end;
    padding-right: 35px;
}


.cta {
    background-color: #3882f6;
    border-radius: 12px;
    padding: 15px;
    margin-block: 100px;
}

.cta-flexbox {
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
    align-items: center;
    padding-block: 20px;
}

.cta-container {
    line-height: 1.1;
}

.cta-title {
    font-size: 36px;
    color: #f9faf8;
    font-weight: 900;
}

.cta-info {
    font-size: 24px;
    color: #f9faf8;
}

.cta-button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 22px;
    border-radius: 12px;
    border: 2px solid #e5e7eb;
    padding-inline: 40px;
    padding-block: 6px;
}

footer {
    text-align: center;
    color: #f9faf8;
    padding: 40px;
    font-size: 24px;
}
